@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
* {
  border: 0;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: 'Nunito'; }

body {
  margin: 0;
  font-size: 14px;
  padding: 0; }

.mb-body {
  max-width: 100%;
  margin: auto; }

header {
  height: 60px;
  transition: .6s ease;
  width: 100%;
  z-index: 99;
  position: relative;
  display: inline-block; }
  header .logo {
    float: left;
    padding: 15px; }
    header .logo img {
      height: 55px; }
      header .logo img:nth-last-child(2) {
        display: block; }
      header .logo img:nth-last-child(1) {
        display: none; }
  header button {
    float: right;
    background: none;
    border: 0;
    outline: none;
    padding: 15px; }
    header button img {
      height: 55px; }
      header button img:nth-last-child(2) {
        display: block; }
      header button img:nth-last-child(1) {
        display: none; }
  header.scroll-to-top {
    transition: .6s ease; }
    header.scroll-to-top .logo {
      float: left;
      padding: 9px 15px; }
      header.scroll-to-top .logo img {
        height: 35px; }
        header.scroll-to-top .logo img:nth-last-child(2) {
          display: none; }
        header.scroll-to-top .logo img:nth-last-child(1) {
          display: block; }
    header.scroll-to-top button {
      float: right;
      background: none;
      padding: 9px 15px; }
      header.scroll-to-top button img {
        height: 42px; }
        header.scroll-to-top button img:nth-last-child(2) {
          display: none; }
        header.scroll-to-top button img:nth-last-child(1) {
          display: block; }

.mb-slider {
  margin-top: -70px;
  display: inline-block;
  width: 100%;
  position: relative; }
  .mb-slider .mb-partner {
    position: absolute;
    bottom: 0;
    z-index: 99;
    left: 0; }
    .mb-slider .mb-partner img {
      width: 100%;
      float: left; }

.mb-action-sticky {
  position: fixed;
  bottom: 10%;
  width: 46px;
  z-index: 999;
  right: 0; }
  .mb-action-sticky a {
    background: #00a2dd;
    height: 37px;
    padding: 6px 15px;
    border-radius: 25px 0 0 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px; }
    .mb-action-sticky a img {
      width: 25px; }

.section-2 {
  display: inline-block;
  width: 100%;
  padding-bottom: 67px;
  background: #0878be;
  padding-top: 50px; }
  .section-2 h2 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    line-height: 31px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: 100%; }
    .section-2 h2::after {
      width: 100px;
      height: 3px;
      background: #0da3db;
      content: '';
      display: block;
      margin: auto; }
  .section-2 p {
    font-size: 14px;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: justify; }

.content-body {
  display: inline-block;
  width: 100%; }

.open-popup-gioithieu {
  display: inline-block;
  width: 100%;
  background: none;
  text-align: left;
  padding: 0 0 20px 0px; }
  .open-popup-gioithieu img {
    width: 110px; }

.ul-section-2 {
  display: inline-block;
  width: 100%;
  background: #0da3db;
  margin-bottom: 20px;
  position: relative; }
  .ul-section-2 h6 {
    color: white;
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 18px !important;
    margin-bottom: 0;
    line-height: 27px; }
  .ul-section-2 ul {
    display: flex;
    -ms-flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    padding-right: 40px;
    margin: 13px 0 0 0; }
    .ul-section-2 ul li {
      width: 33%;
      list-style: none;
      text-align: center;
      display: inline-block; }
      .ul-section-2 ul li img {
        height: 60px;
        margin: auto;
        margin-bottom: 10px; }
      .ul-section-2 ul li p {
        line-height: 11px;
        font-weight: normal;
        font-size: 10px;
        display: inline-block;
        width: 100%;
        text-align: center; }
        .ul-section-2 ul li p span {
          font-size: 21px; }
        .ul-section-2 ul li p label {
          font-size: 12px; }

.copyright-text {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 9;
  left: 0; }
  .copyright-text p {
    color: white;
    text-transform: uppercase;
    font-size: 8px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0;
    background: #0da3db;
    padding: 10px 15px; }

.value-text {
  padding: 0 15px;
  display: inline-block;
  width: 100%; }
  .value-text p {
    color: white;
    font-size: 14px;
    margin-top: 0; }

.bottom-section-2 {
  color: white;
  display: inline-block;
  position: relative;
  background: #0fa3db;
  height: 100px;
  padding-top: 25px;
  width: 100%; }
  .bottom-section-2 .col-md-4 {
    text-align: center;
    padding: 0 5px;
    line-height: 13px;
    width: 33.3%; }
  .bottom-section-2 .row {
    display: flex;
    margin: 0;
    padding-right: 50%; }
  .bottom-section-2 .col-md-6 {
    padding: 0 !important; }
  .bottom-section-2 b {
    font-size: 33px;
    font-weight: normal;
    line-height: 18px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px; }
  .bottom-section-2 span {
    font-size: 18px; }
  .bottom-section-2 label {
    font-size: 10px;
    display: inline-block;
    width: 100%; }

.mb-img-section-2 {
  width: 50%;
  position: absolute;
  right: 0;
  top: -61px; }

.section-3 {
  display: inline-block;
  width: 100%;
  margin-top: -70px; }
  .section-3 img {
    width: 100%; }

.vitri-box {
  float: left;
  width: 100%;
  background: #0076c0; }
  .vitri-box ul {
    float: left;
    padding: 0 15px;
    width: 100%;
    position: relative; }
    .vitri-box ul li {
      display: flex;
      align-content: center;
      -ms-flex-pack: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      transition: all .3s ease-in-out;
      width: 100%;
      padding-left: 40px;
      list-style: none;
      position: relative;
      margin-bottom: 10px; }
      .vitri-box ul li span {
        width: 40px;
        font-size: 22px;
        padding-top: 3px;
        display: inline-block;
        height: 40px;
        border-radius: 50%;
        color: white;
        border: 1px solid #33b0e8;
        text-align: center;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 0; }
      .vitri-box ul li p {
        color: #87cbf1;
        font-size: 14px;
        padding-left: 10px; }
        .vitri-box ul li p b {
          color: white;
          font-size: 16px; }

.mb-infor-section-2 {
  padding: 0 15px;
  margin-top: 0px; }
  .mb-infor-section-2 h2 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    line-height: 31px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: 100%; }
    .mb-infor-section-2 h2::after {
      width: 80px;
      height: 1px;
      background: #0da3db;
      content: '';
      display: block;
      margin: auto; }
  .mb-infor-section-2 p {
    color: white;
    font-size: 14px;
    text-align: justify; }

.mb-section-4 {
  display: inline-block;
  width: 100%;
  background: #0076c0;
  padding: 15px 0;
  padding-top: 40px; }
  .mb-section-4 p {
    line-height: 24px; }
    .mb-section-4 p img {
      height: 26px;
      margin: 0 4px 3px 25px; }

.mb-maps-2 {
  display: inline-block;
  width: 100%;
  margin-top: -70px; }

.mb-maps-1 {
  max-width: 250px;
  margin: auto;
  display: block;
  position: relative;
  z-index: 9; }

.mb-section-5 {
  display: inline-block;
  width: 100%; }

.mb-mat-bang-tab {
  display: inline-block;
  width: 100%; }

.mb-title-tab {
  background: #98ddff;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-align: center;
  height: 45px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #0da3db;
  position: relative;
  padding-top: 10px; }
  .mb-title-tab span {
    position: absolute;
    right: 15px;
    top: 11px;
    color: white;
    font-size: 20px; }
    .mb-title-tab span i {
      color: white;
      font-size: 20px; }

.mb-content-mat-bang-tong-quan {
  display: inline-block;
  width: 100%;
  display: none; }

.mb-bg-mb-tongquan {
  display: inline-block;
  width: 100%; }

.mb-content-mat-bang-tong-quan {
  background: url(../images/mat-bang-tong-quan.png) no-repeat center top; }

.mb-content-mat-bang-tong-quan, .mb-content-mat-bang-block-a5 {
  display: none;
  position: relative; }

.mb-content-tab-1.active .mb-title-tab {
  background-color: #26ade2; }
.mb-content-tab-1.active span i {
  transform: rotate(180deg);
  position: relative;
  display: inherit; }
.mb-content-tab-1.active .mb-content-mat-bang-tong-quan {
  display: block; }

.mb-content-tab-2.active .mb-title-tab, .mb-content-tab-3.active .mb-title-tab {
  background-color: #26ade2; }
.mb-content-tab-2.active span i, .mb-content-tab-3.active span i {
  transform: rotate(180deg);
  position: relative;
  display: inherit; }
.mb-content-tab-2.active .mb-content-mat-bang-block-a5, .mb-content-tab-3.active .mb-content-mat-bang-block-a5 {
  display: block; }

.mb-tab-mbang {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  z-index: 9; }
  .mb-tab-mbang ul {
    width: 280px;
    height: 30px;
    margin: auto; }
    .mb-tab-mbang ul li {
      float: left;
      list-style: none;
      width: 33.3%;
      height: 24px;
      background: #99e3ff;
      padding-top: 1px;
      display: flex;
      align-content: center;
      -ms-flex-pack: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      transition: all .3s ease-in-out; }
      .mb-tab-mbang ul li a {
        display: inline-block;
        width: 100%;
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        text-align: center;
        pointer-events: none; }
      .mb-tab-mbang ul li.active {
        background: #0da3db;
        height: 30px;
        margin-top: -3px;
        border-radius: 6px !important; }
        .mb-tab-mbang ul li.active a {
          font-size: 12px; }
      .mb-tab-mbang ul li:nth-child(1) {
        border-radius: 6px 0 0 6px; }
      .mb-tab-mbang ul li:nth-child(3) {
        border-radius: 0px 6px 6px 0px; }

.content-block-a5, .content-block-b2 {
  display: inline-block;
  width: 100%; }

.content-block-a5-tangtret {
  display: inline-block;
  width: 100%;
  position: relative;
  display: none; }

.mb-a5-tang-tret-content.active, .mb-a5-tang-2-content.active, .mb-a5-tang-3-12-content.active {
  display: block; }

.mb-bgblock-a5 {
  width: 100%;
  display: inline-block; }

.mb-room-list {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 27.5%;
  left: 0;
  padding: 3% 3.1%; }
  .mb-room-list a, .mb-room-list p {
    position: relative;
    padding-top: 7%;
    width: 7%;
    display: block;
    background: #0da3db;
    border-radius: 50%;
    pointer-events: initial !important;
    float: left;
    margin: 0 1.72%;
    font-size: 0.5em;
    color: white; }
    .mb-room-list a span, .mb-room-list p span {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 15%;
      text-align: center;
      line-height: 8px;
      padding-top: 8%; }
    .mb-room-list a label, .mb-room-list p label {
      display: inline-block;
      width: 100%; }
    .mb-room-list a b, .mb-room-list p b {
      font-size: 4px;
      display: inline-block;
      width: 100%; }

.mb-room-list-2 {
  top: 20.5%;
  left: 0;
  padding: 3%;
  padding-left: 45.6%; }
  .mb-room-list-2 a, .mb-room-list-2 p {
    padding-top: 13.5%;
    width: 13.5%; }
    .mb-room-list-2 a:nth-child(2), .mb-room-list-2 p:nth-child(2) {
      margin-left: 3.2%; }
    .mb-room-list-2 a:nth-child(3), .mb-room-list-2 p:nth-child(3) {
      margin-left: 2.5%; }
    .mb-room-list-2 a:nth-child(4), .mb-room-list-2 p:nth-child(4) {
      margin-left: 3.7%; }
    .mb-room-list-2 a:nth-child(5), .mb-room-list-2 p:nth-child(5) {
      margin-left: 2.2%; }

.content-gallery {
  margin-top: 20px; }

.mb-room-list-1 {
  top: 72.9%;
  left: 0;
  padding: 3%;
  padding-left: 5%; }
  .mb-room-list-1 a, .mb-room-list-1 p {
    padding-top: 8%;
    width: 8%;
    margin: 0; }
    .mb-room-list-1 a:nth-child(2), .mb-room-list-1 p:nth-child(2) {
      margin-left: 4.2%; }
    .mb-room-list-1 a:nth-child(3), .mb-room-list-1 p:nth-child(3) {
      margin-left: 1.8%; }
    .mb-room-list-1 a:nth-child(4), .mb-room-list-1 p:nth-child(4) {
      margin-left: 4.2%; }

.mb-room-list-3 {
  top: 43.5%;
  left: 0;
  padding: 3%;
  padding-left: 6%; }
  .mb-room-list-3 a:nth-child(4), .mb-room-list-3 p:nth-child(4) {
    margin-left: 13.5%; }
  .mb-room-list-3 a:nth-child(5), .mb-room-list-3 p:nth-child(5) {
    margin-left: 1.1%; }
  .mb-room-list-3 a:nth-child(6), .mb-room-list-3 p:nth-child(6) {
    margin-left: 1%; }
  .mb-room-list-3 a:nth-child(7), .mb-room-list-3 p:nth-child(7) {
    margin-left: 1.3%; }
  .mb-room-list-3 a:nth-child(8), .mb-room-list-3 p:nth-child(8) {
    margin-left: 1.6%; }

.mb-room-list-5 {
  top: 43.5%;
  left: 0;
  padding: 3%;
  padding-left: 6%; }
  .mb-room-list-5 a span, .mb-room-list-5 p span {
    line-height: 7px; }
  .mb-room-list-5 a:nth-child(4), .mb-room-list-5 p:nth-child(4) {
    margin-left: 13.5%; }
  .mb-room-list-5 a:nth-child(5), .mb-room-list-5 p:nth-child(5) {
    margin-left: 1.1%; }
  .mb-room-list-5 a:nth-child(6), .mb-room-list-5 p:nth-child(6) {
    margin-left: 1%; }
  .mb-room-list-5 a:nth-child(7), .mb-room-list-5 p:nth-child(7) {
    margin-left: 1.3%; }
  .mb-room-list-5 a:nth-child(8), .mb-room-list-5 p:nth-child(8) {
    margin-left: 0.8%; }

.mb-room-list-6 {
  top: 64.5%;
  left: 0;
  padding: 3%;
  padding-left: 6%; }
  .mb-room-list-6 a span, .mb-room-list-6 p span {
    line-height: 7px; }
  .mb-room-list-6 a:nth-child(3), .mb-room-list-6 p:nth-child(3) {
    margin-left: 1.5%; }

.mb-room-list-7 {
  top: 32.7%;
  left: 0;
  padding: 3%;
  padding-left: 6%; }
  .mb-room-list-7 a span, .mb-room-list-7 p span {
    line-height: 7px; }
  .mb-room-list-7 a:nth-child(1), .mb-room-list-7 p:nth-child(1) {
    margin-left: 3.5%; }
  .mb-room-list-7 a:nth-child(3), .mb-room-list-7 p:nth-child(3) {
    margin-left: .5%; }
  .mb-room-list-7 a:nth-child(6), .mb-room-list-7 p:nth-child(6) {
    margin-left: 13.9%; }

.mb-room-list-8 {
  top: 54.7%;
  left: 0;
  padding: 3%;
  padding-left: 6%; }
  .mb-room-list-8 a span, .mb-room-list-8 p span {
    line-height: 7px; }
  .mb-room-list-8 a:nth-child(1), .mb-room-list-8 p:nth-child(1) {
    margin-left: 3.5%; }
  .mb-room-list-8 a:nth-child(3), .mb-room-list-8 p:nth-child(3) {
    margin-left: .5%; }
  .mb-room-list-8 a:nth-child(6), .mb-room-list-8 p:nth-child(6) {
    margin-left: 13.9%;
    margin-top: -5%; }
  .mb-room-list-8 a:nth-child(7), .mb-room-list-8 p:nth-child(7) {
    margin-top: -5%; }
  .mb-room-list-8 a:nth-child(8), .mb-room-list-8 p:nth-child(8) {
    margin-top: -5%; }

.mb-room-list-9 {
  top: 31.7%;
  left: 0;
  padding: 3%;
  padding-left: 6%; }
  .mb-room-list-9 a span, .mb-room-list-9 p span {
    line-height: 7px; }
  .mb-room-list-9 a:nth-child(1), .mb-room-list-9 p:nth-child(1) {
    margin-left: 2%;
    margin-right: 3.2%; }
  .mb-room-list-9 a:nth-child(3), .mb-room-list-9 p:nth-child(3) {
    margin-left: 1.4%; }
  .mb-room-list-9 a:nth-child(5), .mb-room-list-9 p:nth-child(5) {
    margin-left: 1%; }
  .mb-room-list-9 a:nth-child(6), .mb-room-list-9 p:nth-child(6) {
    margin-left: 2.4%;
    margin-top: -5%; }
  .mb-room-list-9 a:nth-child(7), .mb-room-list-9 p:nth-child(7) {
    margin-left: 2.4%;
    margin-top: -5%; }
  .mb-room-list-9 a:nth-child(8), .mb-room-list-9 p:nth-child(8) {
    margin-top: -5%; }
  .mb-room-list-9 a:nth-child(9), .mb-room-list-9 p:nth-child(9) {
    margin-top: -5%; }

.mb-room-list-10 {
  top: 54.7%;
  left: 0;
  padding: 3%;
  padding-left: 6%; }
  .mb-room-list-10 a span, .mb-room-list-10 p span {
    line-height: 7px; }
  .mb-room-list-10 a:nth-child(1), .mb-room-list-10 p:nth-child(1) {
    margin-left: 3.9%; }
  .mb-room-list-10 a:nth-child(2), .mb-room-list-10 p:nth-child(2) {
    margin-left: 1%; }
  .mb-room-list-10 a:nth-child(3), .mb-room-list-10 p:nth-child(3) {
    margin-left: 1.4%; }
  .mb-room-list-10 a:nth-child(5), .mb-room-list-10 p:nth-child(5) {
    margin-left: 1%; }
  .mb-room-list-10 a:nth-child(6), .mb-room-list-10 p:nth-child(6) {
    margin-left: 13.9%;
    margin-top: -5%; }
  .mb-room-list-10 a:nth-child(7), .mb-room-list-10 p:nth-child(7) {
    margin-left: 2.4%;
    margin-top: -5%; }
  .mb-room-list-10 a:nth-child(8), .mb-room-list-10 p:nth-child(8) {
    margin-top: -5%; }
  .mb-room-list-10 a:nth-child(9), .mb-room-list-10 p:nth-child(9) {
    margin-top: -5%; }

.mb-room-list-4 {
  top: 18.5%;
  left: 0;
  padding: 3%;
  padding-left: 36%; }
  .mb-room-list-4 a, .mb-room-list-4 p {
    padding-top: 10.6%;
    width: 11%; }
    .mb-room-list-4 a span, .mb-room-list-4 p span {
      line-height: 5px; }
    .mb-room-list-4 a:nth-child(2), .mb-room-list-4 p:nth-child(2) {
      margin-left: 2.5%; }
    .mb-room-list-4 a:nth-child(3), .mb-room-list-4 p:nth-child(3) {
      margin-left: 1.8%; }
    .mb-room-list-4 a:nth-child(4), .mb-room-list-4 p:nth-child(4) {
      margin-left: 2%; }
    .mb-room-list-4 a:nth-child(5), .mb-room-list-4 p:nth-child(5) {
      margin-left: 2%; }
    .mb-room-list-4 a:nth-child(6), .mb-room-list-4 p:nth-child(6) {
      margin-left: 4%; }

.mb-b2-tang-tret {
  display: none; }
  .mb-b2-tang-tret.active {
    display: block; }

.mb-section-6 {
  float: left;
  width: 100%; }
  .mb-section-6 ul li {
    height: 45px;
    background: #87deff;
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out; }
    .mb-section-6 ul li span {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      color: white; }
    .mb-section-6 ul li.active {
      background: #16ace4; }

.body-tienich {
  overflow: hidden;
  width: 100%;
  float: left; }
  .body-tienich .tienich-content {
    position: relative;
    display: none; }
    .body-tienich .tienich-content.active {
      width: 100%;
      display: inline-block !important; }

.tienich-content img {
  width: 100%;
  display: inline-block; }
.tienich-content .content-tienich {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: inline-block; }
  .tienich-content .content-tienich span {
    text-transform: uppercase;
    color: white;
    background: #3480c7;
    display: inline-block;
    padding: 5px 6px;
    height: 19px;
    position: absolute;
    font-size: 7px;
    font-weight: bold;
    border-radius: 9px;
    border: 1px solid white; }
    .tienich-content .content-tienich span::after {
      content: '';
      display: block;
      background: url(../images/arrow.svg) no-repeat center top;
      width: 7px;
      height: 9px;
      background-size: cover !important;
      position: absolute;
      bottom: -5px;
      right: 12px; }
    .tienich-content .content-tienich span:nth-child(1) {
      left: 4%;
      margin-top: 39%; }
    .tienich-content .content-tienich span:nth-child(2) {
      right: 15%;
      margin-top: 42%; }
      .tienich-content .content-tienich span:nth-child(2)::after {
        left: 12px; }
    .tienich-content .content-tienich span:nth-child(3) {
      left: 2%;
      margin-top: 56%; }
    .tienich-content .content-tienich span:nth-child(4) {
      left: 34%;
      margin-top: 37%; }
    .tienich-content .content-tienich span:nth-child(5) {
      left: 25%;
      margin-top: 54%; }
    .tienich-content .content-tienich span:nth-child(6) {
      right: 0;
      margin-top: 56%; }
      .tienich-content .content-tienich span:nth-child(6)::after {
        left: 12px; }
    .tienich-content .content-tienich span:nth-child(7) {
      right: 20%;
      margin-top: 56%; }

.mb-news-item {
  padding: 0 15px;
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .mb-news-item a {
    pointer-events: none; }
  .mb-news-item .view-more {
    background: url(../images/view-more.png) no-repeat;
    height: 42px;
    width: 158px;
    color: white;
    padding: 6px;
    font-size: 15px;
    margin-top: 7px;
    border: 0;
    display: inline-block;
    text-indent: 20px;
    background-size: cover !important;
    text-transform: uppercase;
    padding-left: 15px; }
    .mb-news-item .view-more::after {
      display: none; }
    .mb-news-item .view-more:hover {
      background: #C00 url(../images/view-more.png) no-repeat; }
  .mb-news-item h3 {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px !IMPORTANT; }
    .mb-news-item h3 a {
      display: block;
      position: relative;
      text-transform: uppercase;
      color: white;
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 16px !IMPORTANT; }
  .mb-news-item img {
    width: 100%; }

section {
  background: #0076c0; }

.content-succes-form {
  padding: 90px 15px; }
  .content-succes-form p {
    text-align: center;
    font-size: 16px;
    color: white; }

.mb-section-9 {
  padding: 20px 0 0px 0 !important; }

.content-ngoaikhu {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 0;
  right: 0; }
  .content-ngoaikhu span {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    font-family: 'Nunito', sans-serif;
    background: #00669b;
    color: white;
    font-weight: bold;
    font-size: 5px;
    border: rgba(225, 225, 225, 0.8) 1px solid;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    position: absolute; }
    .content-ngoaikhu span.active {
      transform: scale(2);
      background: #0da3db;
      transition: .6s ease;
      z-index: 9999; }
    .content-ngoaikhu span:nth-child(1) {
      right: 13%;
      margin-top: 16.5%; }
    .content-ngoaikhu span:nth-child(2) {
      right: 15.2%;
      margin-top: 18%; }
    .content-ngoaikhu span:nth-child(3) {
      right: 62.9%;
      margin-top: 28.2%; }
    .content-ngoaikhu span:nth-child(4) {
      right: 69.9%;
      margin-top: 27.6%; }
    .content-ngoaikhu span:nth-child(5) {
      right: 11%;
      margin-top: 24%; }
    .content-ngoaikhu span:nth-child(6) {
      right: 6%;
      margin-top: 27%; }
    .content-ngoaikhu span:nth-child(7) {
      right: 21%;
      margin-top: 21%; }
    .content-ngoaikhu span:nth-child(8) {
      right: 22.5%;
      margin-top: 18.2%; }
    .content-ngoaikhu span:nth-child(9) {
      right: 31%;
      margin-top: 12%; }
    .content-ngoaikhu span:nth-child(10) {
      right: 37%;
      margin-top: 11%; }
    .content-ngoaikhu span:nth-child(11) {
      right: 48.5%;
      margin-top: 29.5%; }
    .content-ngoaikhu span:nth-child(12) {
      right: 82.5%;
      margin-top: 31.5%; }
    .content-ngoaikhu span:nth-child(12) {
      right: 82.5%;
      margin-top: 31.5%; }
    .content-ngoaikhu span:nth-child(13) {
      right: 78.5%;
      margin-top: 38%; }
    .content-ngoaikhu span:nth-child(14) {
      right: 28.4%;
      margin-top: 24.1%; }
    .content-ngoaikhu span:nth-child(15) {
      right: 41.4%;
      margin-top: 23.1%; }
    .content-ngoaikhu span:nth-child(16) {
      right: 45.4%;
      margin-top: 36.6%; }
    .content-ngoaikhu span:nth-child(17) {
      right: 56%;
      margin-top: 36.6%; }
    .content-ngoaikhu span:nth-child(18) {
      right: 65.4%;
      margin-top: 22.7%; }
    .content-ngoaikhu span:nth-child(19) {
      right: 43.5%;
      margin-top: 10.7%; }
    .content-ngoaikhu span:nth-child(20) {
      right: 48%;
      margin-top: 11.5%; }
    .content-ngoaikhu span:nth-child(21) {
      right: 57%;
      margin-top: 17%; }
    .content-ngoaikhu span:nth-child(22) {
      right: 50.9%;
      margin-top: 39.4%; }
    .content-ngoaikhu span:nth-child(23) {
      right: 39.1%;
      margin-top: 27.8%; }
    .content-ngoaikhu span:nth-child(24) {
      right: 39.1%;
      margin-top: 31%; }
    .content-ngoaikhu span:nth-child(25) {
      right: 66.1%;
      margin-top: 34%; }
    .content-ngoaikhu span:nth-child(26) {
      right: 89.1%;
      margin-top: 43%; }
    .content-ngoaikhu span:nth-child(27) {
      right: 78%;
      margin-top: 23.4%; }

.mb-tienich-nav {
  float: left;
  width: 100%;
  background: #0076c0;
  margin-bottom: 40px;
  overflow-x: auto; }
  .mb-tienich-nav .box-nav-tienich {
    display: flex;
    padding: 0 10px;
    width: 100%; }
    .mb-tienich-nav .box-nav-tienich .mb-nav-item {
      height: initial !important;
      list-style: none;
      display: inline-block;
      background: none !important;
      margin-right: 15px; }
      .mb-tienich-nav .box-nav-tienich .mb-nav-item p {
        display: inline-block;
        width: 279px;
        background: #0076c0;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 22px; }
        .mb-tienich-nav .box-nav-tienich .mb-nav-item p.active {
          background: white; }
          .mb-tienich-nav .box-nav-tienich .mb-nav-item p.active span {
            color: #0076c0; }
        .mb-tienich-nav .box-nav-tienich .mb-nav-item p span {
          color: white;
          margin-top: 2px;
          display: inline-block;
          text-transform: uppercase;
          font-weight: normal; }
        .mb-tienich-nav .box-nav-tienich .mb-nav-item p b {
          font-weight: bold;
          width: 28px;
          height: 28px;
          font-size: 15px;
          display: inline-block;
          margin-right: 5px;
          color: white;
          background: #0da3db;
          text-align: center;
          padding-top: 7px;
          border-radius: 50%; }

.mb-infor-news {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  padding-left: 62px; }
  .mb-infor-news b {
    position: absolute;
    color: white;
    font-size: 32px;
    left: 0;
    font-weight: normal;
    line-height: 20px;
    top: 3px; }
    .mb-infor-news b span {
      font-size: 15px;
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      font-weight: normal; }

.mb-section-8 {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 50px;
  background-image: linear-gradient(to bottom, #0278b5, #0183bf, #028dc8, #0698d2, #0da3db);
  display: inline-block; }
  .mb-section-8 h2::after {
    height: 2px;
    width: 70px; }

.detail-news img {
  height: 34px;
  width: inherit; }

.mb-section-9 {
  display: inline-block;
  width: 100%;
  text-align: center;
  min-height: 300px;
  background: #0074bc url(../images/s8-bg-mb.png) no-repeat bottom center;
  background-size: contain; }
  .mb-section-9 .mb-infor-section-2 p {
    text-align: center; }
  .mb-section-9 form {
    padding: 0 20px;
    padding-bottom: 68px; }
    .mb-section-9 form input {
      background: none;
      display: inline-block;
      width: 100%;
      border: 0;
      font-size: 14px;
      border-radius: 0;
      padding: 0;
      height: 40px;
      color: white;
      border-bottom: 1px solid #7bc2dc; }
      .mb-section-9 form input::placeholder {
        color: white; }
    .mb-section-9 form textarea {
      background: none;
      display: inline-block;
      width: 100%;
      border: 0;
      font-size: 14px;
      height: 40px;
      margin-top: 12px;
      color: white;
      padding: 0;
      border-bottom: 1px solid #7bc2dc; }
      .mb-section-9 form textarea::placeholder {
        color: white; }
    .mb-section-9 form button {
      height: 30px;
      width: 76px;
      text-transform: uppercase;
      color: white;
      font-size: 16px;
      border-radius: 0;
      text-align: center;
      border: 1px solid white;
      padding: 4px; }

.tab-gallery {
  width: 280px;
  height: 30px;
  margin: auto;
  margin-top: 20px; }
  .tab-gallery li {
    float: left;
    list-style: none;
    width: 33.3%;
    height: 24px;
    background: #99e3ff;
    padding-top: 1px;
    display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out; }
    .tab-gallery li a {
      display: inline-block;
      width: 100%;
      font-size: 10px;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      text-align: center;
      pointer-events: none; }
    .tab-gallery li.active {
      background: #0da3db;
      height: 30px;
      margin-top: -3px;
      border-radius: 6px !important; }
    .tab-gallery li:nth-last-child(1) {
      border-radius: 0 6px 6px  0; }
    .tab-gallery li:nth-child(1) {
      border-radius: 6px 0 0  6px; }

.footer label {
  font-size: 6px;
  padding: 0 15px;
  color: white; }
.footer p {
  margin-bottom: 0; }
  .footer p img {
    height: 10px; }
  .footer p span {
    color: white;
    font-size: 10px; }

.mb-section-7 {
  background: #0076c0;
  min-height: 300px;
  padding: 50px 15px 30px 15px;
  overflow: hidden;
  width: 100%;
  float: left;
  /* adapted from  https://codepen.io/glebkema/pen/Xjryjd*/
 /* 
* 	Default theme - Owl Carousel CSS File
*/ }
  .mb-section-7 .owl-nav {
    display: none; }
  .mb-section-7 .owl-item > div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold; }
  .mb-section-7 .content-gallery .active.center {
    transform: scale(1); }
  .mb-section-7 .content-tab-gallery {
    display: none; }
    .mb-section-7 .content-tab-gallery.active {
      display: block; }
  .mb-section-7 .owl-theme .owl-controls {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
  .mb-section-7 .owl-theme .owl-controls .owl-nav [class*='owl-'] {
    color: white;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .mb-section-7 .owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: white;
    text-decoration: none; }
  .mb-section-7 .owl-theme .owl-controls .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
  .mb-section-7 .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .mb-section-7 .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #BDD4EA;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; }
  .mb-section-7 .owl-theme .owl-dots .owl-dot.active span, .mb-section-7 .owl-theme .owl-dots .owl-dot:hover span {
    background: #66B4F9; }
  .mb-section-7 .sliderItem a {
    position: relative;
    padding-top: 50%;
    display: block; }
    .mb-section-7 .sliderItem a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
    .mb-section-7 .sliderItem a span {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3px;
      font-size: 14px;
      width: 100%;
      color: white;
      background: rgba(2, 120, 181, 0.5);
      text-transform: uppercase;
      font-weight: bold; }
  .mb-section-7 .sliderItem.current span {
    display: block !important; }
  .mb-section-7 .owl-item {
    padding: 10px 0 !important; }
    .mb-section-7 .owl-item span {
      display: none !important; }
  .mb-section-7 .owl-item.center {
    padding: 0 !important;
    margin-top: 9px;
    margin-bottom: 20px; }
    .mb-section-7 .owl-item.center span {
      display: block !important; }

.sliderItem a {
  pointer-events: none !important; }

.scroll-to-top {
  display: inline-block;
  width: 100%;
  background: #0076c0;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999999;
  left: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); }

.popup-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100%;
  overflow-y: auto;
  padding-top: 60px; }

.head-popup {
  overflow: hidden; }
  .head-popup header {
    display: inline-block;
    width: 100%;
    background: #0076c0;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: .6s ease; }
    .head-popup header .logo {
      float: left;
      padding: 9px 15px; }
      .head-popup header .logo img {
        height: 35px; }
        .head-popup header .logo img:nth-last-child(2) {
          display: none; }
        .head-popup header .logo img:nth-last-child(1) {
          display: block; }
    .head-popup header button {
      float: right;
      background: none;
      padding: 9px 15px; }
      .head-popup header button img {
        height: 42px; }
        .head-popup header button img:nth-last-child(2) {
          display: none; }
        .head-popup header button img:nth-last-child(1) {
          display: block; }

.btn-close {
  position: fixed;
  right: 15px;
  top: 75px;
  outline: none;
  box-shadow: none;
  background: none;
  border: 0;
  box-shadow: none;
  width: 50px; }
  .btn-close img {
    width: 100%; }

button.menu {
  border: 0 !important;
  box-shadow: none;
  outline: none; }

.ab-body-tab-1 {
  display: inline-block;
  width: 100%;
  display: none; }
  .ab-body-tab-1 img {
    width: 100%;
    display: inline-block; }

.ab-body-tab-2 {
  display: inline-block;
  width: 100%;
  display: none; }
  .ab-body-tab-2 img {
    width: 100%;
    display: inline-block; }

.popup-about-content {
  margin-top: 80px;
  width: 100%; }
  .popup-about-content p {
    color: white; }
  .popup-about-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 0 15px;
    text-align: left;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    line-height: 27px;
    padding-bottom: 8px; }
    .popup-about-content h1::after {
      content: '';
      display: block;
      width: 70px;
      height: 2px;
      background: #0da3db; }
  .popup-about-content img {
    width: 100%; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #66b4f9 !important; }

.owl-theme .owl-dots .owl-dot span {
  background: #bdd4ea !important; }

.eidtor-news {
  max-width: 100%; }
  .eidtor-news img {
    margin-top: 20px !important; }

.ab-content-tab-2.active .mb-title-tab {
  background: #0da3db; }
  .ab-content-tab-2.active .mb-title-tab span i {
    transform: rotate(180deg);
    position: relative;
    display: inherit; }
.ab-content-tab-2.active .ab-body-tab-2 {
  display: block !important; }

.ab-content-tab-1.active .mb-title-tab {
  background: #0da3db; }
  .ab-content-tab-1.active .mb-title-tab span i {
    transform: rotate(180deg);
    position: relative;
    display: inherit; }
.ab-content-tab-1.active .ab-body-tab-1 {
  display: block !important; }

.popup-block-a5-t2, .popup-block-a5, .popup-blogs, .popup-tienich, .popup-about, .popup-click-maps {
  background: #0478b5 url(../images/bg-menu.png) no-repeat center bottom;
  background-size: cover !important;
  display: none; }
  .popup-block-a5-t2.active, .popup-block-a5.active, .popup-blogs.active, .popup-tienich.active, .popup-about.active, .popup-click-maps.active {
    display: block; }

.popup-full-phankhu img {
  width: 100%; }

.popup-click-maps .infor-popup {
  padding: 0;
  display: inline-block;
  width: 100%;
  margin-top: 100px; }

.popup-news {
  display: inline-block;
  width: 100%;
  margin-top: 60px; }
  .popup-news .mn-head-list-news {
    background: #0da3db;
    padding: 8px;
    display: inline-block;
    width: 100%;
    overflow-x: auto; }
    .popup-news .mn-head-list-news ul {
      display: flex;
      margin-bottom: 0; }
      .popup-news .mn-head-list-news ul li {
        background: #fff;
        list-style: none;
        padding: 5px;
        float: left;
        width: 230px;
        margin-right: 10px; }
        .popup-news .mn-head-list-news ul li .item-news-mb {
          float: left;
          width: 100%;
          display: flex; }
          .popup-news .mn-head-list-news ul li .item-news-mb a.avatar-news-mb {
            position: relative;
            padding-top: 100%;
            width: 100%;
            display: block; }
            .popup-news .mn-head-list-news ul li .item-news-mb a.avatar-news-mb img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              left: 0;
              top: 0; }

.mb-avatar-news {
  width: 190px;
  float: left;
  margin-right: 14px; }

.infor-news-mb {
  float: left; }
  .infor-news-mb span {
    color: #0da3db;
    font-size: 9px;
    opacity: .7;
    text-transform: uppercase; }
  .infor-news-mb h6 {
    line-height: 12px; }
    .infor-news-mb h6 a {
      text-transform: uppercase;
      font-size: 9px;
      color: #222;
      line-height: 11px; }

.scrollbar {
  height: 62vh;
  width: 100%;
  margin: auto;
  overflow-y: auto; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #0878BE; }

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #0878BE; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #16ACE4; }

.news-content-popup {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .news-content-popup p {
    color: white;
    font-size: 14px; }
  .news-content-popup .title-news-detail {
    position: relative;
    margin: auto;
    margin-top: 0;
    padding-left: 96px;
    margin-bottom: 10px;
    padding-right: 15px;
    max-width: 100%; }
    .news-content-popup .title-news-detail span {
      position: absolute;
      left: 15px;
      top: 0;
      font-size: 10px;
      color: white;
      text-align: left;
      text-transform: uppercase; }
      .news-content-popup .title-news-detail span b {
        font-size: 36px;
        color: white;
        display: inline-block;
        font-weight: normal;
        width: 100%;
        line-height: 42px; }
      .news-content-popup .title-news-detail span::after {
        position: absolute;
        width: 48px;
        height: 1px;
        background: #0da3db;
        content: '';
        display: block;
        bottom: -7px; }
    .news-content-popup .title-news-detail h1 {
      text-transform: uppercase;
      color: white;
      font-size: 19px;
      text-align: left;
      line-height: 27px; }

.eidtor-news {
  display: inline-block;
  padding: 15px;
  max-width: 100%; }
  .eidtor-news p {
    text-align: justify;
    font-size: 14px; }
  .eidtor-news img {
    max-width: 100%;
    margin: 15px 0;
    width: 100%; }

.popup-menu {
  background: #0478b5 url(../images/bg-menu.png) no-repeat center bottom;
  background-size: cover !important;
  display: none;
  z-index: 99999; }
  .popup-menu.active {
    display: block; }

.infor-menu {
  float: right;
  margin-top: 80px;
  padding: 0 20px; }
  .infor-menu ul {
    display: inline-block;
    width: 100%; }
    .infor-menu ul li {
      text-align: right;
      display: inline-block;
      width: 100%; }
      .infor-menu ul li a {
        display: inline-block;
        width: 100%;
        padding: 15px 0;
        font-size: 16px;
        position: relative;
        color: #9BDBF9;
        text-transform: uppercase;
        padding-right: 50px; }
        .infor-menu ul li a::after {
          height: 20px;
          width: 1px;
          background: #9BDBF9;
          content: '';
          display: block;
          position: absolute;
          right: 30px;
          top: 18px; }
        .infor-menu ul li a span {
          color: #9BDBF9;
          font-size: 13px;
          position: absolute;
          right: 0;
          top: 18px; }

.infor-popup {
  padding: 15px; }
  .infor-popup .infor-compass {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%; }
    .infor-popup .infor-compass span {
      text-transform: uppercase;
      color: white;
      font-size: 15px;
      display: inline-block;
      width: 100%;
      font-weight: normal; }
      .infor-popup .infor-compass span b {
        font-size: 25px;
        color: white;
        font-weight: bold; }

.slide-popup {
  display: inline-block;
  width: 100%;
  padding: 0 35px;
  margin-top: 40px; }
  .slide-popup .owl-prev, .slide-popup .owl-next {
    display: block !important;
    background: none !important;
    font-size: 0px !important;
    position: absolute;
    top: 41%; }
    .slide-popup .owl-prev::after, .slide-popup .owl-next::after {
      content: '';
      display: block;
      width: 30px;
      height: 43px; }
  .slide-popup .owl-next {
    left: inherit;
    right: -43px; }
    .slide-popup .owl-next::after {
      background: url(../images/next-icon.png) no-repeat right top;
      background-size: cover !important; }
  .slide-popup .owl-prev {
    left: -34px; }
    .slide-popup .owl-prev::after {
      background: url(../images/prev-icon.png) no-repeat right top;
      background-size: cover !important; }
  .slide-popup .owl-dots {
    display: none !important; }

.infor-size {
  float: left;
  width: 50%; }
  .infor-size span {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    font-weight: normal; }
    .infor-size span b {
      font-size: 25px;
      color: white;
      font-weight: bold; }
      .infor-size span b label {
        text-transform: none;
        font-size: 18px; }
  .infor-size:nth-child(3) {
    margin-top: 10px; }
    .infor-size:nth-child(3) span {
      margin-bottom: 6px; }

@media screen and (min-device-width: 481px) and (max-device-width: 968px) {
  .mb-room-list a {
    font-size: 1.2em; }
    .mb-room-list a span {
      margin-top: 0;
      line-height: 15px;
      font-size: 15px; }
      .mb-room-list a span b {
        font-size: 7px; }

  .mb-room-list.mb-room-list-3, .mb-room-list-2 a span {
    line-height: 16px;
    margin-top: 0%; }

  .content-tienich {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: inline-block; }
    .content-tienich span:nth-child(1) {
      left: 14% !important;
      margin-top: 39% !important; }
    .content-tienich span:nth-child(2) {
      right: 25% !important;
      margin-top: 49% !important; }
      .content-tienich span:nth-child(2)::after {
        left: 12px !important; }
    .content-tienich span:nth-child(3) {
      left: 10% !important;
      margin-top: 56% !important; }
    .content-tienich span:nth-child(4) {
      left: 40% !important;
      margin-top: 40% !important; }
    .content-tienich span:nth-child(5) {
      left: 31% !important;
      margin-top: 54%; }
    .content-tienich span:nth-child(6) {
      right: 5% !important;
      margin-top: 60% !important; }
      .content-tienich span:nth-child(6)::after {
        left: 12px; }
    .content-tienich span:nth-child(7) {
      right: 22% !important;
      margin-top: 62% !important; } }
@media only screen and (max-width: 390px) {
  .tienich-content .content-tienich span:nth-child(3) {
    left: 0%; } }

/*# sourceMappingURL=ehome-mb.css.map */
